<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Image</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <div class="container">
        <h1>CIFAR-10 Image Classifier</h1>
        <p>This model being used is my Convolutional Neural Network (CNN) trained on the CIFAR-10 dataset. It can classify images into 10 categories: airplane, automobile, bird, cat, deer, dog, frog, horse, ship, and truck. For best results, please upload images relevant to these categories.</p>
        <form action="/" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/*" required>
            <button type="submit">Predict</button>
        </form>
    </div>
    
    <div class="github-icon">
        <a href="https://github.com/aatekle" target="_blank">
            <i class="fab fa-github fa-6x"></i>
        </a>
    </div>
    
</body>
</html>
